/* Forms */
.body{
  font-family: 'Verlag';
}

.auth-container {
  max-width: 420px;
  margin: 2.5rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  /* font-weight: 600; */
  font-size: 20px;
  color: #1b496b;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Inputs */

.auth-container input {
  width: 100%;
  padding: 0.85rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s ease;
  border: none;
}

.auth-container input:focus {
  border-color: #1b496b;
  /* border: none; */
}

/* Buttons */

.auth-container button {
  width: 100%;
  padding: 0.85rem;
  border-radius: 8px;
  border: none;
  background:#1b496b;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.auth-container button:hover {
  background: #0a2441;
}

.auth-container button:active {
  transform: scale(0.98);
}
