/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  align-items: center;
  font-family: 'Verlag';
  /* background-color: #464622;*/
  background-color: #b8cedc;
  /* background-color: #658280; */
  color: #1b496b;
  /* background-color: #b78f47; */
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Roustel';
  color: #1b496b;
  letter-spacing: 1px;
}

.navbar button {
  margin-left: 1rem;
}

/* HERO */
.hero {
  background: #4d4d24;
  background-color: #475c5a;
  background-color: #b8cedc;
  /* background-color: #121e2e; */
  position: relative;
  padding-top: 10px;
  min-height: 90vh;
  color: white;
  color: #1b496b;
  /* color: #b8cedc; */
  /* font-family: 'Goldenbook', serif; */
  font-weight: 600;
  overflow: visible;
}

.hero-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content {
  flex: 1;
  font-family: 'Goldenbook';
  /* font-size: 5; */
}
.hero-content h1{
  /* font-family: 'Goldenbook'; */
  font-size: 3rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.hero-content p{
  font-family: 'Verlag';
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  /* max-width: 100%; */
  /* max-width: 50rem; */
  /* height: auto; */
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}

.hero-actions{
  margin-top: 2rem;
  font-family: 'Verlag';
}

.curve {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 160px;
}

.mission {
  background: #e9e4d1;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #1b496b;
}

.mission h2{
  font-family: 'Verlag';
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.mission p {
  font-family: 'Goldenbook';
  padding: 10px 10rem 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  /* line-height: 3rem; */
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh; 
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 60px; */
}

.service.text {
  flex-direction: column;
  /* text-align: center; */
  background: #1b496b;
}

.services > .service:nth-child(1) {
  /* font-family: 'Goldenbook'; */
  color: #e5e7eb;
  padding: 7rem;
  font-size: 20px;
}

.services > .service:nth-child(1) h3{
  font-size: 35px;
}

.services > .service:nth-child(4) {
  background-color: #e9e4d1; 
}

.service.image img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}


/* FOOTER */
.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
