/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  align-items: center;
  /* background-color: #464622;
  + */
  /* background-color: #658280; */
  color: #4b4314;
  /* background-color: #b78f47; */
}

.logo {
  font-weight: 800;
  font-size: 1.2rem;
  font-family: 'Roustel';
  color: #4b4314;
  letter-spacing: 1px;
}

.navbar button {
  margin-left: 1rem;
}

/* HERO */
.hero {
  background: #4d4d24;
  background-color: #475c5a;
  /* background-color: #464622; */
  /* background-color: #2b3147; */
  /* background-color: #1e2b31;  */
  position: relative;
  padding-top: 10px;
  min-height: 90vh;
  /* color: white; */
  color: #f6f5f3;
  /* font-family: 'Goldenbook', serif; */
  /* font-weight: 600; */
  overflow: visible;
}

.hero-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-content {
  flex: 1;
  /* font-family: 'Goldenbook'; */
  /* font-size: 5; */
}
.hero-content h1{
  /* font-family: 'Goldenbook'; */
  font-size: 2.2rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.hero-content p{
  /* font-family: 'Goldenbook'; */
  font-weight: 400;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  /* max-width: 100%; */
  /* max-width: 50rem; */
  /* height: auto; */
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}

.hero-actions{
  margin-top: 2rem;

}

.curve {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 160px;
}

.info {
  background: #dfeeff;
  background-color: #e9e4d1;
  padding-top: 1rem;
}

.info h2{
  font-family: 'Goldenbook';
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #131212;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.process {
  text-align: center;
  font-family: "Goldenbook";
  padding: 20px 20px;
  /* color: #f6f5f3; */
  background: #ceb8b8; /* section color */
}

.process h2 {
  font-size: 2rem;
  font-family: "Goldenbook";
  text-transform: uppercase;
  /* font-weight: bold; */
  margin-bottom: 3rem;
}

.process-list {
  display: flex;
  flex-direction: column;
  /* gap: 2.5rem; */
  max-width: 600px;
  margin: 0 auto;
  
}

.process-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* numbers on the left */
  gap: 1.5rem;
}

.process-number {
  font-family: "Goldenbook";
  font-size: 4rem;  
  color: #f6f5f3;    
  font-weight: bold;
  /* color: #242323;  */
  flex-shrink: 0;
  /* text-shadow: 2px 2px 0 #242323, 2px 2px 0 #888, 4px 4px 0 #666, 8px 8px 0 #444; */
}

.process-item p {
  /* font-weight: bold; */
  font-size: 1rem;
  margin: 0;
  text-align: left;
  font-family: "Goldenbook";
  text-transform: uppercase;
}


/* FOOTER */
.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
