/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  align-items: center;
  background-color: #464622;
  background-color: #658280;
  /* background-color: #b78f47; */
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Roustel';
  color: white;
  letter-spacing: 1px;
}

.navbar button {
  margin-left: 1rem;
}

/* HERO */
.hero {
  background: #4d4d24;
  background-color: #658280;
  /* background-color: #b78f47;  */
  position: relative;
  padding-top: 120px;
  min-height: 90vh;
  /* color: white; */
  color: #f6f5f3;
  /* font-family: 'Goldenbook', serif; */
  font-weight: 400;
}

.hero-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero-content {
  flex: 1;
  /* font-family: 'Goldenbook'; */
  /* font-size: 5; */
}
.hero-content h1{
  font-family: 'Goldenbook';
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* curve at the bottom */
.curve {
  display: block;
  width: 100%;
  height: 160px;
}

/* INFO */
.info {
  background: #f9fafb;
  padding: 120px 60px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

/* FOOTER */
.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}
