@import "tailwindcss";

@font-face {
  font-family: 'Roustel';
  src: url('./assets/fonts/RoustelRegular.otf');
}

@font-face {
  font-family: 'Goudi';
  src: url('./assets/fonts/Goudi.ttf');
}

@font-face {
  font-family: 'Goldenbook';
  src: url('./assets/fonts/Goldenbook.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Verlag';
  src: url('./assets/fonts/Verlag-Book.otf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 6.5px; /* vertical scrollbar width */
  height: 3px; /* horizontal scrollbar height */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: hsl(60, 29%, 24%); 
  background: #b8cedc;
  /* border-radius: 10px; */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: hsl(60, 25%, 85%); 
  background-color: #102b41;
  /* border-radius: 10px; */
  border: 2px solid transparent;
  background-clip: content-box;
}

